[submodule "craes"]
	path = craes
	url = https://github.com/unseddd/craes.git
[submodule "isha1"]
	path = isha1
	url = https://github.com/unseddd/isha1.git
[submodule "bmd4"]
	path = bmd4
	url = https://github.com/unseddd/bmd4.git
